.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 375px;
    left: 150px;
  }
  
  .baloon { 
      position: absolute;
      left: 350px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 125px;
    left: 375px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 650px;
  }